@charset utf-8;


/* * {
	border: 1px solid red;
} */

body {
	font-family: sans-serif;
	font-size: 20px;
	background-color: lightGray;
	color: white;
}

article {
	background-color: #363738;
	margin-bottom: 60px;
	padding: 8px;
}

h1 {
	color: #363738;
	font-size: 20vw;
}

h2 {
	background-color: lightGray;
	color: #363738;
	margin: 0;
	margin-bottom: 10px;
	padding: 20px;
}

p {
	line-height: 28px;
}

blockquote, figcaption {
	font-size: 90%;
}

blockquote {
	margin: 1em;
}

figure {
	margin: 0;
	margin-bottom: 2px;
}

figcaption, footer {
	text-align: center;
}

a {
	color: lightBlue;
}

a:visited {
	color: #45617d;
}

a:hover {
	color: white;scr
}

img {
	width: 100%;
}

footer {
	color: #363738;
	font-size: 80%;
}

h1 a, h1 a:visited, h2 a, h2 a:visited {
	color: #363738;	
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	color: dimGray;
	text-decoration: underline;
}

@media screen and (min-width: 768px) {

	body {
		font-size: 18px;
		width: 600px;
		margin-left: 10vw;
	}

	h1 {
		font-size: 450%;
	}

	blockquote, figcaption {
		font-size: 85%;
	}

	figure {
		margin: 2em;
		margin-bottom: 2px;
	}

	figcaption, footer {
		text-align: center;
	}

}
